body {
  margin: 0;
  color:floralwhite;
  overflow: auto;
  font-family: 'Source Sans Pro', sans-serif;
}
.codeFont, header{
  font-family: 'Source Code Pro', monospace;
}
#bgimg {
  display: block;
  width: 100%;
  height: 0;
  position: sticky;
  top: 0;
  z-index: -1;
}
#bgimg img {
  width: 100%;
}
#wrapper {
  position: relative;
  padding: 20px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(80, 88, 99, 0.55);
}
@media ( max-width: 1200px) {
  #bg {
    background-image: none;
    width: 1200px;
    top: 0;
  }
  #bgimg {
    display: block;
    width: 1200px;
    height: 0;
    position: sticky;
    top: 0;
    z-index: -1;
  }
  #wrapper {
    position: relative;
    padding: 20px;
    width: 1000px;
    margin-left: 80px;
    background-color: rgba(80, 88, 99, 0.55);
    margin-top: 0;
  }
}
a:link {
  color: white;
}
a:visited {
  color: lightgray;
}
#logo {
  margin-bottom: 20px;
}
#logo img{
  width: 1000px;
}
#nav {
  border-top: white solid 2px;
  border-bottom: white solid 2px;
  border-radius: 15px;
  height: 50px;
  width: 650px;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
}
.navItem {
	width: 128px;
	height: 40px;
	line-height: 40px;
  text-align: center;
  border-left: white solid 1px;
  border-right: white solid 1px;
	float: left;
}
#projects {
  position: relative;
  display: inline-block;
}
#dropdown-content {
  background-color:rgba(0, 0, 0, 0.75);
  padding-top: 5px;
  padding-bottom: 5px;
  width: 130px;
  display: none;
  position: absolute;
  z-index: 1;
}
#projects:hover #dropdown-content {
  text-align: center;
  display: block;
}
header {
  text-align: center;
  margin-bottom: 20px;
}
.body-section {
  position: relative;
  border-top: solid 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.proj-section {
  position: relative;
  padding: 5px 10px 5px 10px;
}
#copyright {
  position: absolute;
  width: 1000px;
  bottom: -50px;
  left: 0;
  text-align: center;
  margin-bottom: 10px;
}
.clearFloat {
  clear: both;
}
